@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  background-color: rgb(9, 15, 36);
  color: rgb(220, 220, 220);
  font-family: "Rubik";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-animation {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.fade-in-backdrop-animation {
  animation: fadeInBackdrop 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out-animation {
  animation: fadeOut 1s ease-in-out;
}

.parameter-input-container {
  @apply flex flex-col text-slate-600;
}
.parameter-input {
  @apply w-[60px] rounded-md bg-slate-800 p-1 text-slate-500 outline-none placeholder:text-slate-600;
}