@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  background-color: rgb(9, 15, 36);
  color: rgb(220, 220, 220);
  font-family: "Rubik";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-animation {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.fade-in-backdrop-animation {
  animation: fadeInBackdrop 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out-animation {
  animation: fadeOut 1s ease-in-out;
}

.parameter-input-container {
  @apply flex flex-col text-slate-600;
}
.parameter-input {
  @apply w-[60px] rounded-md bg-slate-800 p-1 text-slate-500 outline-none placeholder:text-slate-600;
}

.agent-action-record {
  @apply w-full text-center rounded-md text-slate-500;
  background-color: rgba(30, 41, 59, 0.5);
}

@keyframes popIn {
  0% {
    transform: translateY(10%);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
.pop-in-animation {
  animation: popIn 1.5s ease-in-out;
}

@keyframes agentBestActionAnimation {
  0% {
    color: rgb(31, 107, 97);
    background-color: rgb(21, 90, 66, 0.8);
    box-shadow: 0 0 1em rgb(21, 90, 66, 0.8);
  }
  60% {
    background-color: rgb(34, 193, 151, 0.8);
    box-shadow: 0 0 1em rgb(34, 193, 151, 0.8);
  }
  80% {
    background-color: rgba(30, 41, 59, 0.5);
    box-shadow: none;
    color: initial;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  @apply w-[6px] h-[12px];
}
::-webkit-scrollbar-track {
  background: #182435;
}
::-webkit-scrollbar-thumb {
  background: #2a3949;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-slate-700;
}

/* .agent-actions-container {
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
} */
